
{% extends "blog/base.html" %}

{% block content %}    

  
    <h1>  About Us </h1> 
    <p>
        <br>
        3&D is the premier destination for basketball related content.
        <br>
        <br>
        Our mission is to be the best source for basketball related content. Whether it be opinion pieces on NBA related news or 
        advanced analyses by trained data scientists, we look to provide substantive and engaging content that is digestable by everyone 
        interested in basketball.
        <br>
        

    </p>

{% endblock content %}
   
