<!-- This uses template inheritance extends from base.html -->
{% extends "blog/base.html" %}
 <!-- This is marks where it should be indented from --> 
{% block content %}    
    <!-- HERE IS HOW WE WRITE CODE FOR VARIABLES INPUTED IN VIEWS      -->
    <!-- THIS IS A FOR LOOP (similar for if statements and shit -->
    <!-- dont have spaces between percent signs and brackets-->
  
    <h1>  About Us </h1> 
    <p>
        <br>
        3&D is the premier destination for basketball related content.
        <br>
        <br>
        Our mission is to be the best source for basketball related content. Whether it be opinion pieces on NBA related news or 
        advanced analyses by trained data scientists, we look to provide substantive and engaging content that is digestable by everyone 
        interested in basketball.
        <br>
        

    </p>

{% endblock content %}
   
