<!-- We can take from templates even in different files -->
{% extends "blog/base.html" %}
<!-- This inputs crispy forms -->
{% load crispy_forms_tags %}

{% block content %}    
    <div class="content-section">
        <!-- this post request sends out information -->
        <form method="POST" enctype="multipart/form-data">
            <!-- This is basically here for security-->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Blog Post  </legend>
                <!-- this retrieves the form variable that we need, as_p renders it in paragraph form -->
                <!-- But instead of as_p we are gonna use crispy forms -->
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Submit </button>
                <a class="ml-3" href="{% url 'blog-home'%}"> cancel</a>
            </div>
        </form>
        
    </div>

{% endblock content %}